[user]
	email = wayming.z@gmail.com
	name = way
[credential]
	helper = "!f() { /home/appuser/.vscode-server/bin/0ee08df0cf4527e40edc9aa28f4b5bd38bbff2b2/node /tmp/vscode-remote-containers-b606268d-3e19-4db7-b7e3-997745e6409f.js git-credential-helper $*; }; f"
