.cache/
.vscode-server/
.config/
go/
.viminfo
main.go
main
.bash_history
.psql_history
.wget-hsts
db_password
pass
pass1
.lesshst
.profile
dbloader/__debug_bin3458741688
logs/sdc.log
dbloader/logs/dbloaderpg_test.log
json2db/__debug_bin1212110847
docker/pglog
docker/pgdata
