.cache/
.vscode-server/
.config/
go/
logs/
.viminfo
main
.bash_history
.psql_history
.wget-hsts
db_password
pass
pass1
.lesshst
.profile
logs/sdc.log
dbloader/logs
docker/pglog
docker/pgdata
collector/logs
.vim/.netrwhist
.parallel/
.gitconfig
pgadmin_data/pgadmin4.db
sdc
.rediscli_history
docker/pg_data/
docker/pgadmin_data
docker/redis_data
sdc
.rediscli_history
data/YF
.gitconfig
.gitconfig
