.cache/
.vscode-server/
.config/
go/
logs/
.viminfo
main.go
main
.bash_history
.psql_history
.wget-hsts
db_password
pass
pass1
.lesshst
.profile
logs/sdc.log
dbloader/logs
docker/pglog
docker/pgdata
collector/logs
.vim/.netrwhist
.parallel/
